.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  height: 100vh; */
  max-width: 600px;
  margin: auto;
}

.container-switch {
  /* border: 1px solid blue; */
  /* display: flex;
  justify-content: center; */
}

.btn-switch {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--gray-one);
  padding: 1rem 5rem;
  position: relative;
}

.btn-switch.active::after {
  content: "";
  width: 70%;
  height: 5px;
  background: var(--primary-color);
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  top: 95%;
  left: 18%;
}

.container-add-task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.container-add-task input {
  flex: 4;
  margin-right: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-one);
  border-radius: 12px;
  outline: none;
}

.container-add-task button {
  flex: 1;
}

.btn-primary {
  background: var(--primary-color);
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  border: none;
  outline: none;
  color: white;
}
